<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Google Maps Example</title>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.27.6.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
</head>
<body>
  <div>
    <h1>Driver you are in</h1>
    <h1 id="driverName"><%= driverName %></h1>
  </div>
  <a href="/logout">Logout</a>
    <script id="name">

var a = document.getElementById("driverName");
    var b = a.innerText;
    console.log(b);

    var pnChannel = b;

        function getLocation() {
            if (navigator.geolocation) {
            navigator.geolocation.watchPosition(updatePosition);
         }
      
        return null;
    };

    function updatePosition(position) {
      if (position) {
        window.lat = position.coords.latitude;
        window.lng = position.coords.longitude;
      }
    }
    
    setInterval(function(){updatePosition(getLocation());}, 10000);

    function currentLocation() {
      return {lat:window.lat, lng:window.lng};
    };

    

    var pubnub = new PubNub({
      publishKey:   'pub-c-4fe2d8f8-74ed-4d6a-93c4-149e68832d07',
      subscribeKey: 'sub-c-db832570-885f-11ea-a961-f6bfeb2ef611'
    });

    setInterval(function() {
      pubnub.publish({
          channel: b, 
          message:currentLocation()
        });
    }, 5000);
    
    </script>

    <script>
      //Subscription to common broadcasting channel
      var pubnub = new PubNub({
    subscribeKey: "sub-c-db832570-885f-11ea-a961-f6bfeb2ef611",
    publishKey: "pub-c-4fe2d8f8-74ed-4d6a-93c4-149e68832d07",
    uuid: "myUniqueUUIDServer",
    secretKey: "sec-c-YWM1MzAyMGYtODljNi00MGJmLWFhM2MtNWVkNjBiNGI5NzEy"
});


pubnub.addListener({
    message: function(m) {
        // handle message
        console.log(JSON.stringify(m.message));
        var text;
var z = confirm("Press this confirm button!");
if (z == true) {
    text = "Confirm is pressed!";
} else {
    text = "Cancel is pressed!";
}
var data = new FormData();
data.append("User","Hrishi");
var xhr = new XMLHttpRequest();
xhr.open("POST", "/recieve", true);
xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
var obj = {value:"hrishi"}
xhr.send("value="+text);
        //confirm(JSON.stringify(m.message))
    }
});

pubnub.subscribe({
    channels: ['orderBroadcast'],
}, function (err) {
    console.log(err);
});
    </script>



</body>
</html>