<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscriber Map</title>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.27.6.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
</head>
<body>
    <div class="container">
        <h1>Admin Panel Map</h1>
        <a href="/logout">logout</a>
        <div id="map-canvas" style="width:1200px;height:900px"></div>
      </div>
      

      <script>
          window.lat = 12.9716;
          window.lng = 77.5946;

          window.lat2 = 28.7041;
          window.lng2 = 77.1025;

          var map;
          var mark;

    var initialize = function() {
      map  = new google.maps.Map(document.getElementById('map-canvas'), {center:{lat:lat,lng:lng},zoom:4});
      mark = new google.maps.Marker({position:{lat:lat, lng:lng},animation: google.maps.Animation.BOUNCE, map:map});
      mark2 = new google.maps.Marker({position:{lat:lat2, lng:lng2}, map:map});
    };

    window.initialize = initialize;

    var redraw = function(payload) {
      lat = payload.message.lat;
      lng = payload.message.lng;
      console.log(lat,lng,"1");

      lat2 = payload.message.lat2;
      lng2 = payload.message.lng2;
      console.log(lat2,lng2,"2");
      //console.log(JSON.stringify(payload.message));

      map.setCenter({lat:lat, lng:lng, alt:0});
      mark.setPosition({lat:lat, lng:lng, alt:0});
      mark2.setPosition({lat:lat2, lng:lng2, alt:0});
    };

    //var pnChannel = "hrishi@gmail.com";

    var pubnub = new PubNub({
      publishKey:   'pub-c-4fe2d8f8-74ed-4d6a-93c4-149e68832d07',
      subscribeKey: 'sub-c-db832570-885f-11ea-a961-f6bfeb2ef611'
    });

    

    pubnub.addListener({
    message: redraw
});

pubnub.subscribe({
    channelGroups: ['myChannelGroup'],
}, function (err) {
    console.log(err);
});

      </script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDYRICW4Bm4donS0-9LCp_h0nlsyWvEuGY&callback=initialize"></script>
</body>
</html>