<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDYRICW4Bm4donS0-9LCp_h0nlsyWvEuGY&callback=initialize"></script>

    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.27.6.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
</head>
<body>
    
    <div id="map" style="width: 500px; height: 400px;"></div>

    <script type="text/javascript">
      var locations = [
        ['Bondi Beach', -33.890542, 100.274856, 4],
        ['Coogee Beach', -33.923036, 101.259052, 5],
        ['Cronulla Beach', -34.028249, 151.157507, 3],
        ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
        ['Maroubra Beach', -33.950198, 151.259302, 1]
      ];
  
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: new google.maps.LatLng(-33.92, 151.25),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
  
      var infowindow = new google.maps.InfoWindow();
  
      var marker, i;
  
      for (i = 0; i < locations.length; i++) {  
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map
        });
  
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
          }
        })(marker, i));
      }
    </script>




<script>
    // var pnChannel = "123@gmail.com";

var pubnub = new PubNub({
  publishKey:   'pub-c-4fe2d8f8-74ed-4d6a-93c4-149e68832d07',
  subscribeKey: 'sub-c-db832570-885f-11ea-a961-f6bfeb2ef611'
});

pubnub.subscribe({
    channelGroups: ['myChannelGroup'],
}, function (err) {
    console.log(err);
});

//pubnub.addListener({message:redraw});

pubnub.addListener({
    message: function(m,ch) {
        // handle message
        console.log("message recieved " + JSON.stringify(m.message)+ "channel: " + JSON.stringify(m.channel));
    }
});

// assuming an intialized PubNub instance already exists
pubnub.channelGroups.listChannels(
    {
        channelGroup: "myChannelGroup"
    }, 
    function (status, response) {
		if (status.error) {
			console.log("operation failed w/ error:", status);
			return;
		}
		
		console.log("listing push channel for device",response.channels);
		// response.channels.forEach( function (channel) {
		// 	console.log(channel)
		// })
    }
);

  </script>

</body>
</html>